venv/
.vscode/
.env
*.env
*.db.sqlite3
*.db.sqlite
payarena/db.sqlite3
__pycache__/
*.pyc
.idea
*.idea
.idea/*
log.log
core.log
*.log
*.sqlite
*.sqlite3
.DS_Store
*.DS_Store

# Project image and file folders
static/
staticfiles/
media/
.todo
images/*

.push.py
logs/


